<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>  
  <h1> <%= title %></h1>
</main>

<%- include('./partials/footer') %>

<!-- you can link specific style sheets here for the head/ nav/ and footer. This is a cleaaner way to have HTML without having to create a new HTML file everything being created.  -->